MQTT_API_KEY=
MQTT_USER=

# e.g. tcp://mqtt.example.org:1883
MQTT_URI=

# only temporary, will be removed
MQTT_TOPIC=

# probably HaLoRaBot
BOT_USERNAME=
BOT_TOKEN=

# Telegram Ids comma seperated
BOT_ALLOWED_USERS=