# Key/Password for the mqtt broker
MQTT_API_KEY=

# e.g. halora@ttn
MQTT_USER=

# e.g. tcp://mqtt.example.org:1883
MQTT_URI=

BOT_USERNAME=
BOT_TOKEN=

# Telegram Ids comma seperated
BOT_ALLOWED_USERS=